.draggablePanelList .panel-heading {
    cursor: move;
}
.step{
    margin-top:60px;
    text-align:center;
    margin:auto;
}
[draggable=true] {
    cursor: move;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
/*.panel-text{*/
     /*width:50%;*/
     /*float:left;*/
/*}*/
.panel-img{
    width:200px;
    height:200px;
    border: 4px double lightgrey;
    text-align: center;
    overflow:hidden;
}
#dropzone-area{
    float: left;
    margin-right: 30px;
    width:30%;
    height:210px;
    /*background-color : lightblue;*/
    opacity: 0.5;
    /*background-color : transparent;*/
}
.form-group{
    float: right;
    width:70%;
    height: auto;
}
.jcarousel-wrapper{
    padding:0px;
    overflow:hidden;
    width:100%;
    height:200px;
}
/*!* iPads (portrait) ----------- *!*/
/*@media only screen*/
/*and (min-device-width : 768px) {*/
    /*!* Styles *!*/
    /*.jcarousel-wrapper{*/
        /*width:100%;*/
        /*height:200px;*/
    /*}*/
    /*.carouselImg{*/
        /*width:200px;*/
        /*height:200px;*/
    /*}*/
/*}*/

/*!* Desktops and laptops ----------- *!*/
/*@media only screen*/
/*and (min-width : 1224px) {*/
    /*!* Styles *!*/
    /*.carouselImg{*/
        /*width:300px;*/
        /*height:300px;*/
    /*}*/
    /*.jcarousel-wrapper{*/
        /*width:100%;*/
        /*height:300px;*/
    /*}*/
/*}*/

.articleTitle{
    margin-top:60px;
}
.row-fluid{
    float: right;
    width:100%;
    height: auto;
}
.inputForms{
    margin-top:30px;
}
.fa fa-times fa-5x{
    position: absolute;
    top: 0px;
    right: 0px;
}
