.mainContent{
    width:100%;
    margin-top:55px;
    padding: 0px;
}
#leftCol{
    padding: 0px;
}
#centerCol{
    background: rgba(255, 255, 255, 0.2);
    height:100%;
}
#rightCol{
    padding:0px;
    min-height:300px;
}
.tagsCloud{
    border: 3px double white;
}
.freshNew{
    text-align: justify;
}
.popular{
    text-align: justify;
}
.freshArticles{
    display: inline-block;
}
.popularArticles{
    display: inline-block;
}
.imgCarousel{
    width: 150px;
    cursor: pointer;
    height: 150px;
}
.freshImgs {
    width: 200px;
    cursor: pointer;
    height: 200px;
    padding:5px;
    text-align: center;
    border: 3px double white;
}
.popularImgs{
    width: 200px;
    cursor: pointer;
    height: 200px;
    padding:5px;
    text-align: center;
    border: 3px double white;
}
figure{
    /*display: block;*/
}
figcaption {
    padding-left: 4px;
    overflow: hidden;
}
.bootstrap-select ng-pristine{
    width:85px;
    margin:5px;
}
.popular-articles{
    margin-top:50px;
}
.fa-twitter .fa-facebook .fa-vk img{
    cursor: pointer;
}
