.tags {
    margin-bottom: 5px;
}

.tags input[type="text"] {
    border-width:0;
    outline: none;
    width:90px;
    font-size:12px;
}

.tags .form-control {
    height:auto;
    padding:5px;
    max-width:86%;
    vertical-align:bottom;
}

.tags .tag {
    display: inline-block;
    margin-right: 4px;
    font-size: 13px;
}

.tag .close {
    font-size: 14px;
    margin-left: 5px;
}