<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-resource.min.js"></script>
    <script src="https://use.fontawesome.com/65f588ac1a.js"></script>
    <script href="../js/admin.js"></script>
    <link type="text/css" href="../css/admin.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/admin.js"></script>
    <script src="../js/angularApp.js"></script>
    <script src="../js/angularController.js"></script>
    <script src="../js/angularTranslationService.js"></script>
    <script src="../js/themes.js"></script>
    <script type="text/javascript" th:inline="javascript">

        $(document).ready(function () {
            /*<![CDATA[*/

            var user = /*[[${userList}]]*/ 'User Name';

            /*]]>*/
            fill(user);
            starting();
        });

    </script>
</head>
<body>
<div class="container" ng-app="myApp" ng-controller="myController">
    <nav id="navbar" role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="home" class="navbar-brand"><i class="glyphicon glyphicon-home" style="margin-left: 0px;">
                <!--<span th:if="${constant.name() == 'ONE'}" th:text="${profileId}"></span>-->
                <span th:if="${profileId == 'anonymousUser'}" th:text="User"></span>
                <span th:if="${profileId != 'anonymousUser'}" th:text="${profileId}"></span>
            </i></a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" style="margin-right:30px;">
                <li class="dropdown" style="width:84px;">
                    <select class="selectpicker" data-show-subtext="true" data-live-search="true" ng-change="translate()" ng-model="selectedLanguage">
                        <option value="en">English</option>
                        <option value="ru">Russian</option>
                    </select>
                </li>

                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{translation.THEME}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="default" data-theme="default" class="theme-link" onclick="setDefaultTheme()">Default</a></li>
                        <li><a href="#" id="inverse" data-theme="inverse" class="theme-link" onclick="setInverseTheme()">Inverse</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="profile" class="navbar-brand">My profile</a></li>
                <li><a href="logout_user" class="navbar-brand">Logout</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-nav navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-default">{{translation.SEARCH}}</button>
            </form>
        </div>
    </nav>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>userID</th>
        <th>Username</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody class="table-body">
    </tbody>
</table>
<a href="all_articles" type="button" class="btn btn-default"> Open list of all instructions!</a>
<footer style="text-align: center;">
    <p>Made by blah-blah-blah :)</p>
    <p>Contact information: <a href="mailto:contact@instructions.com">
        contact@instructions.com</a>.</p>
</footer>
</body>
</html>