<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Create instruction</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href = "https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel = "stylesheet"/>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.js"></script>

    <script src="https://rawgit.com/enyo/dropzone/v4.3.0/dist/min/dropzone.min.js"></script>
    <link href="https://rawgit.com/enyo/dropzone/v4.3.0/dist/min/dropzone.min.css" rel="stylesheet"/>
    <!--<script src="../js/dropzone.js"></script>-->

    <script src="https://use.fontawesome.com/65f588ac1a.js"></script>
    <link type="text/css" href="../css/createInstruction.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="../jcarousel/jcarousel.responsive.css"/>
    <script type="text/javascript" src="../jcarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="../jcarousel/jcarousel.responsive.js"></script>

    <script src="../js/jquery.tagsinput.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/jquery.tagsinput.css" />
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/themes.js"></script>
    <script src="../js/createInstruction.js"></script>
    <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <script>
        $(document).ready(function(){
           starting();
            autoPlayYouTubeModal();
            starting();
        });
        $(document).on("ready", function(){
            $('#tags').tagsInput();
            var tags=[];
            $.get("/getTagNames",function (data) {
                console.log(data);
                $(data).each(function (v) {
                    tags.push(data[v]);
                });
                console.log(tags);
                console.log(typeof (tags));
                $('#tags_tag').autocomplete({
                    source: tags
                });
            })});

    </script>
    <!--<script src="../js/categoriesScript.js"></script>-->
</head>
<body>
<div class="container" ng-app="myApp" ng-controller="myController">
    <nav id="navbar" role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="home" class="navbar-brand"><i class="glyphicon glyphicon-home" style="margin-left: 0px;">
                {{translation.HELLO}} <span th:if="${profileId == 'anonymousUser'}" th:text="User"></span>
                <span th:if="${profileId != 'anonymousUser'}" th:text="${profileId}"></span>!</i></a>

        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left" style="margin-right:30px;">
                <li><a th:if="${profileId != 'anonymousUser'}"  href="logout_user" class="navbar-brand" th:text="Logout"></a></li>
                <li><a th:if="${profileId != 'anonymousUser'}"  href="profile" class="navbar-brand" th:text="Profile"></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" style="margin-right:30px;">
                <li><select class="selectpicker" ng-change="translate()" ng-model="selectedLanguage">
                    <option value="en">English</option>
                    <option value="ru">Russian</option>
                </select></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{translation.THEME}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="default" data-theme="default" class="theme-link" onclick="setDefaultTheme()">Default</a></li>
                        <li><a href="#" id="inverse" data-theme="inverse" class="theme-link" onclick="setInverseTheme()">Inverse</a></li>
                    </ul>
                </li>
            </ul>
            <form role="search" class="navbar-form navbar-nav navbar-left" style="margin-right:40px;">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-default">{{translation.SEARCH}}</button>
            </form>
        </div>
    </nav>
</div>
<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
<div class="container step col-lg-8 col-md-10 col-sm-12 col-xs-12">
    <h1 class="text articleTitle" style="color: white;text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;">You can create new instructions here.</h1>
    <hr/>
    <input class="form-control" id="focusedInput myTitle" size="40" type="text" placeholder="Title of the article"/>
    <div class="row inputForms" >
        <div class="dropzone" id="dropzone-area">
            <div class="dz-message needsclick">
                <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <h4 style="margin:0px;">Please, note that You can't change your tags and category after saving the instruction.</h4>
            <input type="url" id="youtube" style="width:45%;"/>
            <!--<a href="#" class="btn btn-default" data-toggle="modal" data-target="#videoModal" data-theVideo="http://www.youtube.com/embed/loFtozxZG0s" >Show video</a>-->
            <div class="row" >
                <select id="categories" class="selectpicker" data-show-subtext="true" data-live-search="true">
                </select>
                <input name="tags" id="tags" value="" />
            </div>
        </div>
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div>
                            <iframe width="100%" height="350" src=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text" style="color: white;text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;">Your images will be here</h2>
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul class="carouselList">
                <li ><a target="_blank" href="https://www.w3schools.com/bootstrap/img_flower2.jpg">
                    <img class="carouselImg draggable" src="https://www.w3schools.com/bootstrap/img_flower2.jpg" width="auto" height="auto"/>
                </a></li>
                <li><a target="_blank" href="https://www.w3schools.com/bootstrap/img_flower2.jpg">
                    <img class="carouselImg draggable" src="https://woodbury.edu/wp-content/uploads/2015/12/dog-03.jpg" width="auto" height="auto"/>
                </a></li>
                <li><a target="_blank" href="https://www.w3schools.com/bootstrap/img_flower2.jpg">
                    <img class="carouselImg draggable" src="http://tailandfur.com/wp-content/uploads/2016/11/40-Fluffy-Pictures-of-Puppies-that-Looks-like-Pandas-3.jpg" width="auto" height="auto"/>
                </a></li>
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

        <!--<p class="jcarousel-pagination"></p>-->
    </div>
    <div>
        <a class="btnAdd" onclick="createPanel()">
            <span class="fa fa-plus fa-4x" id="plusbtn" size="25" style="cursor:pointer;" aria-hidden="true"></span></a>
    </div>
    <div id="connections">
        <ol class="draggablePanelList" id="dynamiclist" style="margin-right: 10%; margin-left: 10%;">
            <li style="font-size: 3em;width:100%;" class="row panel">
                <span style="font-size: .5em; text-align: center;">
                    <i class="fa fa-times fa-5x" style="float:right"></i>
                    <center><img class="panel-img" style="width:40%;height:50%;overflow: hidden;margin-left:10%;" src="" alt="Drop Here!"/></center>
                    <center><input class="form-control panel-text" style="width:50%;margin-bottom:20px;" type="text" placeholder="You can add content here."/></center>
                </span>
            </li>
        </ol>
    </div>
    <script>
        var elements = $( '.ckeditor' );
        elements.each( function() {
            CKEDITOR.inline( this, {} );
        } );
    </script>
    <div class="row" style="text-align: center; margin-bottom: 25px;">
        <a onclick="saveToDB()" class="btn btn-primary">Save instruction</a>
    </div>
</div>
<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
<!-- Modal -->
<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align: center;">The instruction is created!</h4>
            </div>
            <div class="row modal-body" style="text-align: center;">
                <a class="btn btn-default" href="profile"> Go back to profile! </a>
                <a class="btn btn-default" href="home"> Go back to home! </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var currentFile;
    Dropzone.autoDiscover = false;
    var myDropzone = new Dropzone(document.getElementById('dropzone-area'), {
        addRemoveLinks: true,
        init: function () {
            this.on("addedfile", function (file) {
                if (currentFile) {
                    currentFile.previewElement = null;
                    this.removeFile(currentFile);
                }
                currentFile = file;
            });
        },
        uploadMultiple: false,
        acceptedFiles: '.jpg,.png,.jpeg,.gif',
        parallelUploads: 3,
        thumbnailWidth: 100,
        thumbnailHeight: 100,
        url: 'https://api.cloudinary.com/v1_1/ddhtosm07/image/upload'
    });
    var fileName = $('#profilePicture').val();
    var mockFile = {name: fileName, size: 12345};
    //myDropzone.options.addedfile.call(myDropzone, mockFile);
    //myDropzone.options.thumbnail.call(myDropzone, mockFile, "https://lh3.googleusercontent.com/-eubcS91wUNg/AAAAAAAAAAI/AAAAAAAAAL0/iE1Hduvbbqc/photo.jpg?sz=104");
    currentFile = mockFile;
    myDropzone.on('sending', function (file, xhr, formData) {
        formData.append('api_key', 755631259227424);
        formData.append('timestamp', Date.now() / 1000 | 0);
        formData.append('upload_preset', 'kmavsl6x');
    });
    myDropzone.on("complete", function(file) {
        myDropzone.removeFile(file);
    });
    myDropzone.on('success', function (file, response) {
        //alert('Success! uploading file to Cloudinary. public id - '+response.public_id );
        var next = $('.carousel-indicators > div').length+4;
        var indicator = $('<li data-target="#myCarousel" data-slide-to="'+next+'"></li>').appendTo('.carousel-indicators');

        var carousel = $('<li />').appendTo('.carouselList');
        var href = $('<a target="_blank" href="http://res.cloudinary.com/ddhtosm07/image/upload/'+response.public_id+'.jpg"/>').appendTo(carousel);
        href.append('<img class="carouselImg draggable" src="http://res.cloudinary.com/ddhtosm07/image/upload/'+response.public_id+'.jpg" width="auto" height="auto"/>');
        $(".draggable").draggable({
            snap: '#drop',
            snapMode: 'inner',
            snapTolerance: 50,
            revert: 'invalid',
            helper: 'clone',
            appendTo: "body",
            cursor: 'move',
            start: function(event, ui) {
                $(ui.helper).css('width', "100px");
            },
            stop: function(event, ui) {
                $(ui.helper).css('width', "100px");
            }
        });
    });
</script>
<script src="../js/categoriesScript.js"></script>
<script src="../js/angularApp.js"></script>
<script src="../js/angularController.js"></script>
<script src="../js/angularTranslationService.js"></script>
</body>
</html>