<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:spring="http://java.sun.com/xml/ns/javaee">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>All instructions you may need</title>

    <link type="text/css" href="../css/main.css" rel="stylesheet"/>
    <link type="text/css" href="../css/carousel.css" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href = "https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel = "stylesheet"/>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script src="https://use.fontawesome.com/65f588ac1a.js"></script>
    <link type="text/css" href="../css/createInstruction.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="../jcarousel/jcarousel.responsive.css"/>
    <script type="text/javascript" src="../jcarousel/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="../jcarousel/jcarousel.responsive.js"></script>
    <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/themes.js"></script>
    <script src="../js/createInstruction.js"></script>
    <script src="../js/article.js"></script>
    <script src="../css/article.css"></script>
    <script type="text/javascript" src="../js/home.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var articlesList = /*[[${articlesList}]]*/ 'fresh';
        var randomArticle = /*[[${randomArticle}]]*/ 'random';
        var popularArticles = /*[[${popularList}]]*/ 'popularList';
        //alert(art);
        addFresh(articlesList);
        addPopular(popularArticles);
        loadRandom(randomArticle);
        starting();
    });
    /*]]>*/
    </script>
    <script src="../js/jquery.tagsinput.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/jquery.tagsinput.css" />
    <script src="../js/themes.js"></script>

    <script src="../js/createInstruction.js"></script>
    <script src="../js/angularApp.js"></script>
    <script src="../js/angularController.js"></script>
    <script src="../js/angularTranslationService.js"></script>

</head>
<body ng-app="myApp" ng-controller="myController">
<div class="container">
    <nav id="navbar" role="navigation" class="navbar navbar-default navbar-fixed-top" style="z:30;">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="profile" class="navbar-brand"><i class="glyphicon glyphicon-home" style="margin-left: 0px;">
                {{translation.HELLO}} <span th:if="${profileId == 'anonymousUser'}" th:text="User"></span>
                <span th:if="${profileId != 'anonymousUser'}" th:text="${profileId}"></span>!</i></a>
                   </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <!--<div><h4>Выбранный язык: <strong>{{selectedLanguage}}</strong></h4></div>-->
            <ul class="nav navbar-nav navbar-right" style="margin-right:30px;">
                <li><select class="selectpicker" style="width:85px;" ng-change="translate()" ng-model="selectedLanguage">
                    <option value="en">English</option>
                    <option value="ru">Russian</option>
                </select></li>

                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{translation.THEME}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="default" data-theme="default" class="theme-link" onclick="setDefaultTheme()">Default</a></li>
                        <li><a href="#" id="inverse" data-theme="inverse" class="theme-link" onclick="setInverseTheme()">Inverse</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><a th:if="${profileId != 'anonymousUser'}"  href="logout_user" class="navbar-brand" th:text="Logout"></a></li>
                <li><a th:if="${profileId != 'anonymousUser'}"  href="profile" class="navbar-brand" th:text="Profile"></a></li>
            </ul>

            <ul th:if="${profileId == 'anonymousUser'}" class="nav navbar-nav navbar-left">
                <li><a data-toggle="modal" data-target="#twModal"><i class="fa fa-lg fa-twitter"></i></a></li>
                <li><a data-toggle="modal" data-target="#fbModal"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a data-toggle="modal" data-target="#vkModal"><i class="fa fa-lg fa-vk"></i></a></li>
            </ul>
            <form role="search" class="navbar-form navbar-nav navbar-left">
                <div class="form-group">
                    <input type="text" id="searchField" placeholder="Search" class="form-control"/>
                </div>
                <button type="submit" onclick="findInsrtuction()" class="btn btn-default">{{translation.SEARCH}}</button>
            </form>
        </div>
    </nav>
</div>
<div class="mainContent container col-md-12 col-sm-12 col-xs-12">
    <div id="leftCol" class="col-lg-2 col-md-2 hidden-sm hidden-xs">
        <div class="bg-info" style="background-color: rgba(255, 255, 255, 0.5);"></div>
    </div>
    <div id="centerCol" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="row container visible-sm visible-xs">
                <div class="row collapse in" id="collapsible" style="float:left;width:50%;margin-top:60px;">
                </div>
        </div>
        <div class="search-articles">
            <div class="search row">
            </div>
        </div>
        <div class="fresh">
            <h2 class="text">Fresh instructions</h2>
            <hr/>
            <div class="freshNew row">
            </div>
        </div>
        <div class="popular-articles">
            <h2 class="text">Most popular</h2>
            <hr/>
            <div class="popular row">
            </div>
        </div>
    </div>
    <div id="rightCol" class="col-lg-3 col-md-3 hidden-sm hidden-xs">
        <div class="tagsCloud">
            <h2>Tags</h2>
            <hr/>
            <div class="center-block">
                <canvas id="tagcanvas1"></canvas>
            </div>
            <div id="ptTags" >
            </div>
        </div>
    </div>
</div>

<div id="vkModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Connect to Vkontakte</h4>
            </div>
            <div class="modal-body">
                <form action="/connect/vkontakte" method="POST">
                    <input type="hidden" name="scope" value="email" />
                    <div class="formInfo">
                        <p class="text-center text-primary">Are you sure you want to sign in with your Vk account? Click the button to connect.</p>
                    </div>
                    <p class="text-center"><button class="btn btn-primary" data-toggle="modal" data-target="#vkModal-fin">Connect to Vkontakte</button></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="fbModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Connect to Facebook</h4>
            </div>
            <div class="modal-body">
                <form action="/connect/facebook" method="POST">
                    <input type="hidden" name="scope" value="user_posts" />
                    <div class="formInfo">
                        <p class="text-center text-primary">Are you sure you want to sign in with your facebook account? Click the button to connect.</p>
                    </div>
                    <p class="text-center"><button type="submit" class="btn btn-primary">Connect to Facebook</button></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="twModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Connect to Twitter</h4>
            </div>
            <div class="modal-body">
                <span th:if="${social_provider_error}">Provider error (maybe you need to configure the app id and secret?)</span>
                <form action="/connect/twitter" method="POST">
                    <div class="formInfo">
                        <p class="text-center text-primary">Are you sure you want to sign in with your twitter account? Click the button to connect.</p>
                    </div>
                    <p class="text-center"><button type="submit" class="btn btn-primary">Connect to Twitter</button></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="visible-xs" id="xs-check"></div>

<script src="../js/jquery.tagcanvas.min.js" type="text/javascript"></script>
<script src="../js/script.js"></script>

<script src="../js/find.js"></script>
<!--<script src="../js/jquery-3.1.1.js"></script>-->
<footer style="text-align: center;margin-top: 30px;">
    <p>Made by blah-blah-blah :)</p>
    <p>Contact information: <a href="mailto:contact@instructions.com">
        contact@instructions.com</a>.</p>
</footer>

</body>
</html>