<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>My profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" href="../css/profile.css" rel="stylesheet" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-2.2.0.js"></script>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-resource.min.js"></script>
    <script src="../js/angularApp.js"></script>
    <script src="../js/angularController.js"></script>
    <script src="../js/angularController.js"></script>
    <script src="../js/angularTranslationService.js"></script>
    <script src="../js/themes.js"></script>
    <script src="../js/article.js"></script>
    <script src="../js/profile.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            var article = /*[[${articlesList}]]*/ 'Sebastian';
            addUsersArticles(article);
        });
        /*]]>*/
    </script>
    <style>
        h3{
            font-size: 20px;
            font-family:Verdana;
            color: #515151;
        }
        img {
            width: 40%;
        }
        .carousel-inner {
            background-color: rgba(255,253,223, 0.5);
        }
        .carousel-caption {
            font-size: 2em;
            right: 10%;
            left: 60%;
            top: 30%;
            bottom: 30%;
            text-align: left;
            text-shadow: none;
        }
        .carousel-indicators{
            font-size: 2em;
            bottom: -1%;
            text-align: left;
            text-shadow: none;
        }
        .open-article:hover{
            cursor:pointer;
        }
    </style>
</head>
<body onload="starting()">
<div class="container" ng-app="myApp" ng-controller="myController">
    <nav id="navbar" role="navigation" class="navbar navbar-default navbar-fixed-top" style="z:30;">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="home" class="navbar-brand"><i class="glyphicon glyphicon-home" style="margin-left: 0px;">
                {{translation.HELLO}} <span th:if="${profileId == 'anonymousUser'}" th:text="User"></span>
                <span th:if="${profileId != 'anonymousUser'}" th:text="${profileId}"></span>!</i></a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" style="margin-right:30px;">
                <li><select class="selectpicker" ng-change="translate()" ng-model="selectedLanguage">
                    <option value="en">English</option>
                    <option value="ru">Russian</option>
                </select></li>

                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle">{{translation.THEME}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a id="default" data-theme="default" class="theme-link" onclick="setDefaultTheme()">Default</a></li>
                        <li><a id="inverse" data-theme="inverse" class="theme-link" onclick="setInverseTheme()">Inverse</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <a th:if="${profileId != 'anonymousUser'}"  href="logout_user" class="navbar-brand" th:text="Logout"></a>
            </ul>
            <form role="search" class="navbar-form navbar-nav navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-default">{{translation.SEARCH}}</button>
            </form>
        </div>
    </nav>
</div>
<h2>Hello!</h2>
<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
<div class="container col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="row">
        <h2 class="text" style="color:white;text-align: center;">List of my instructions</h2>
        <a href="/create"><button class="btn btn-primary" style="text-align: center;">Create new instruction</button></a>
        <hr/>
    </div>

    <div class="userArticles"></div>
    <div class="container articles-container"></div>
</div>
<div class="col-lg-3 col-md-3 col-sm-0 col-xs-0"></div>

</body>
</html>