<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/youtuber/youtuber.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="typeahead.bundle.min.js"></script>
    <script src="../js/angularApp.js"></script>
    <script src="../js/angularController.js"></script>
    <script src="../js/angularTranslationService.js"></script>
</head>
<script>
    $('#buttonLike').click(function() {
        var likeTemp = {
            articleId:{},
            value:{}
        };

        likeTemp.artilceId;
        likeTemp.value;

        $.ajax({
            url:'/setLike',
            type:'POST',
            data: JSON.stringify(likeTemp),
            beforeSend: function(xhr) {
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
            }
        });
    });
</script>
<body>

<div class="container">
    <!--th:text="${countLikes}"-->
    <a id="buttonLike" href="#" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></a>
    <a id="buttonDisLike" href="#" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></a>
</div>

</body>




</html>